<!doctype html>
<title>Dyslexia Detector</title>
<u><h1 align='center'>Dyslexia Detector</h1></u>
<hr>
<br>
<h2 align='center'>Please enter the following scores:</h2>
<body align = 'center'><b>Note: All scores should be between 0 and 1.</b>
<br>
<br>
<br>
<form align='center' method=post enctype=multipart/form-data>

	<label for="langvocab"><b>Language Vocabulary Score:		</b></label>
	<input type="text" placeholder="Enter Score" name="langvocab" id="langvocab" required>
	<br>
	<br>
    <label for="memory"><b>Memory Score:		</b></label>
	<input type="text" placeholder="Enter Score" name="memory" id="memory" required>
	<br>
	<br>
	<label for="speed"><b>Speed Score:		</b></label>
	<input type="text" placeholder="Enter Score" name="speed" id="speed" required>
	<br>
	<br>
	<label for="visual"><b>Visual Discrimination Score:		</b></label>
	<input type="text" placeholder="Enter Score" name="visual" id="visual" required>
	<br>
	<br>
	<label for="audio"><b>Audio Discrimination Score:		</b></label>
	<input type="text" placeholder="Enter Score" name="audio" id="audio" required>
	<br>
	<br>
	<label for="survey"><b>Survey Score:		</b></label>
	<input type="text" placeholder="Enter Score" name="survey" id="survey" required>
	<br>
	<br>
	<br>
	<input type=submit value=Predict>
</form>
</body>