<!doctype html>
<title>Autism Detector</title>
<u><h1 align='center'>Autism Detector</h1></u>
<br>
<h2 align='center'>Upload image to test for autism</h2>
<br>
<form align='center' method=post enctype=multipart/form-data>
	<input type=file name=image>
    <input type=submit value=Predict>
	<br>
	<br>
	<!-- <img src={{img_path}} alt="Italian Trulli">
	<h3>Prediction: {{prediction}}</h3> 
	<br>
	<br>
	Probability of autistic: {{prob_yes}}<br>
	Probability of non-autistic: {{prob_no}}-->
</form>